package pages

import "github.com/SabianF/ghasp/src/common/presentation/components"

// import components "github.com/SabianF/ghasp/src/common/presentation/components"

templ HtmxExamplesPage() {
  @components.Layout(components.NewLayoutPropsDefault()) {
    <h1>HTMX Examples</h1>
    <p>Test page</p>
  }
}
