package pages

import components "github.com/SabianF/ghasp/src/common/presentation/components"
import tabs "github.com/SabianF/ghasp/src/common/presentation/components/tabs"

templ RootPage() {
  @components.Layout() {
    @components.TabMenuLayout() {
      @tabs.Test()
    }
  }
}
