package components

templ SidebarMenuLayout() {
  <article class={ sidebarLayoutCss() }>
    @SidebarMenu()
    { children... }
  </article>
}

templ pageArea() {
  <div class={ "container", pageAreaCss() }>
    { children... }
  </div>
}

css sidebarLayoutCss() {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

css pageAreaCss() {
  display: block;
}
